h1.Title {position:absolute; z-index: 1; top:0; left:0; color: white; font-family: Lucida Sans; 
  background-color: #6573ae; width: 99.2%; height: 40px; padding: 7px;}

button#table-of-contents {position:absolute; z-index: 2; top:4.8%; right: 30%; color:white ;background-color: #585b9a;
border:1px solid #def9fa;
padding: 8px 13px;}

.hidden-box {
  position:absolute;
  right:30%;
  z-index:3;
  display: none; /* Initially hide the box */
  width: 220px;
  height: 250px;
  border: 2px solid #4a4a84;
  border-radius: 1px;
  padding: 1px 20px 20px 20px;
  background-color: #d7f8fc;
  margin-top: 60px;
  font-size: small;
  font-family: Calibri;
  text-align: right;
}

.visible-box {
  display: block; /* Show the box when this class is applied */
}

button#worksheet {position:absolute; z-index: 3; top:4.8%; right: 1%; color:white ;background-color: #5b5794;
border:1px solid #def9fa;
padding: 8px 13px;}

.hidden-list {
  position:absolute;
  z-index:3;
  right: 0%;
  display: none; /* Initially hide the box */
  width: 180px;
  height: 140px;
  border: 2px solid #65aea3;
  border-radius: 1px;
  padding: 5px 20px 20px 0px;
  background-color: #d7fafc;
  margin-top: 60px;
  font-size: medium;
  font-family: Calibri;
  text-align: right;
}

.visible-list {
  display: block; /* Show the box when this class is applied */
}

h2#Links {font-size: large;}

ul.EGlist {font-size: medium;}

section.Intro {position:absolute; top:15%; left:0;}

section.Members {position:absolute; top:160%; left:0;}

div.Whole {position:absolute; top:200%; left:0;}